.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}
.comments-area {
	padding: 0 50px;
	@media #{$max-sm} {
		padding: 0 15px;
	}
	.comment-list-wrap {
		padding: 55px 0 0;
	}
	.comment-respond {
		margin-top: 51px;
		#cancel-comment-reply-link {
			color: #888;
			&:hover {
				color: $secondary_color;
			}
		}
		.logged-in-as {
			margin-bottom: 25px;
			a {
				color: #888;
				&:hover {
					color: $secondary_color;
				}
			}
		}
	}
	.no-comments {
		display: none;
	}
}
.comment-title {
	font-size: 18px;
	color: #333333;
	text-transform: capitalize;
	margin-bottom: 0;
}
.comment-list {
	padding: 0;
	list-style: none;
	li {
		.children {
			padding-left: 35px;
			li {
				list-style: none;
				margin-top: 37px;
			}
		}
		&.pingback {
		}
		.comment-respond {
			margin-top: 30px;
			margin-left: 84px;
			@media #{$max-sm} {
				margin-left: 0;
			}
		}
	}
	> li {
		margin-bottom: 37px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.comment-inner {
	display: flex;
	flex-wrap: nowrap;
	img.avatar {
		width: 90px;
		height: 90px;
		min-width: 90px;
		margin-right: 30px;
		float: left;
		@include border-radius(90px);
	}
	@media #{$max-sm} {
		display: block;
		img.avatar {
			margin: 0 0 25px;
		}
		.comment-reply {
			position: static;
			padding-top: 20px;
		}
	}
}
.comment-date {
	color: #524b48;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 22px;
    @include font-family-heading($heading_default_font);
}
.comment-content {
	position: relative;
	flex-grow: 1;
	padding: 20px 25px 32px 25px;
	background: #f4f7fc;
	.comment-text p {
		margin-bottom: 0;
    	font-size: 15px;
    	line-height: 27px;
    	@include font-family-heading($heading_default_font);
	}
}
.comment-reply {
	position: absolute;
	right: 23px;
	top: 20px;
	a {
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		display: inline-block;
		@include font-family-heading($heading_default_font);
		color: #fff;
		padding: 0 16px;
		line-height: 35px;
		@include border-radius(35px);
		background-color: #191919;
		&:after {
			content: "\f105";
			font-family: FontAwesome;
			margin-left: 4px;
			font-weight: normal;
		}
		&:hover {
			background-color: $primary_color;
			color: #fff;
		}
	}
}
.comment-form {
	.form-submit {
		margin-bottom: 0;
	}
	.comment-notes {
		display: none;
	}
	.col-lg-4 {
		margin-bottom: 30px;
	}
	.comment-form-comment {
		margin-bottom: 27px;
	}
}
@media #{$max-sm} {
	.comment-inner, .comments-title {
		text-align: center;
		&:before {
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.comment-inner img.avatar {
		float: none;
		display: inline-block;
	}
	.comment-content {
		display: block;
		ul, ol {
			text-align: left;
		}
		&:before, &:after {
			border-color: transparent transparent #fff;
			border-width: 10px;
			left: 0;
			top: -19px;
			right: 0;
			margin: auto;
		}
		&:after {
			border-color: transparent transparent #e9e9e9;
			top: -21px;
		}
	}
	.comment-list li .children {
		padding-left: 0;
	}
}