$primary_color: #0674fd;$secondary_color: #00d0f9;$third_color: #79CD1C;$link_color: #0674fd;$link_color_hover: #00d0f9;$link_color_active: #00d0f9;$gradient_color_from: #0841c6;$gradient_color_to: #05c6fb;$gradient_color_from2: #701ad1;$gradient_color_to2: #f700e3;$gradient_color_from3: #32c6f6;$gradient_color_to3: #0042ff;
                $body_default_font: Roboto;
            
                $heading_default_font: Poppins;
            