	/*
  	Flaticon icon font: Flaticon
  	Creation date: 31/07/2018 17:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
}

.flaticon-aeroplane:before { content: "\f100"; }
.flaticon-id-card:before { content: "\f101"; }
.flaticon-shield:before { content: "\f102"; }
.flaticon-earning-money-idea:before { content: "\f103"; }
.flaticon-list:before { content: "\f104"; }
.flaticon-menu:before { content: "\f105"; }
.flaticon-banknote:before { content: "\f106"; }
.flaticon-creative:before { content: "\f107"; }
.flaticon-network:before { content: "\f108"; }
.flaticon-speech-bubble:before { content: "\f109"; }
.flaticon-layers:before { content: "\f10a"; }
.flaticon-gear:before { content: "\f10b"; }
.flaticon-computer:before { content: "\f10c"; }
.flaticon-objective:before { content: "\f10d"; }
.flaticon-right-arrow:before { content: "\f10e"; }
.flaticon-long-arrow-pointing-to-the-right:before { content: "\f10f"; }
.flaticon-edit:before { content: "\f110"; }
.flaticon-responsive:before { content: "\f111"; }
.flaticon-speed:before { content: "\f112"; }
.flaticon-happiness:before { content: "\f113"; }
.flaticon-play-button:before { content: "\f114"; }
.flaticon-pin:before { content: "\f115"; }
.flaticon-thin-arrowheads-pointing-down:before { content: "\f116"; }
.flaticon-multiply:before { content: "\f117"; }
.flaticon-right-quotation-mark:before { content: "\f118"; }